const http = require('http');

const server = http.createServer((req, res) => {
  res.writeHead(200, { 'Content-Type': 'text/plain' });
  res.end('{{ nodejs_app_message }}\n');
});

server.listen({{ nodejs_app_port }}, () => {
  console.log('Server running on port {{ nodejs_app_port }}');
});
