global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'traefik'
    static_configs:
      - targets: ['192.168.56.14:8080']

  - job_name: 'web1'
    static_configs:
      - targets: ['192.168.56.10:3000']

  - job_name: 'web2'
    static_configs:
      - targets: ['192.168.56.11:3001']
